@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


.outfit-font{
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}